
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 20;
  margin-left: 20;
  background-color: black;
}


/* Default Checkbox
===============================*/
.check {
  position:relative;
  -webkit-appearance: none;
  -moz-appearance: none!important;
  width:20px;
  height:20px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
  font:2em 'Open Sans';
  text-align:right;
}

.check:after {
  position:absolute;
  top:9px;
  left:8px;
  content:"";       background:url('http://static.tumblr.com/upanoab/0hOmmcbuh/tick-sprite.png');
  width:22px;
  height:22px;
}

.check:checked:after {
  position:absolute;
  top:9px;
  left:6px;
  content:"";       background:url('http://static.tumblr.com/upanoab/0hOmmcbuh/tick-sprite.png');
  background-position:-20px;
  width:22px;
  height:22px;
}
